Repository nanoframework/CoreLibrary, pull requests merged in 2021-06, with the labels that each got.

#143 Clean up unit tests for CoreLibrary and complete tests for Type.GetType
  Tests/NFUnitTestTypes/NFUnitTestTypes.nfproj
  Tests/NFUnitTestTypes/UnitTestSubTypeTests.cs
  Tests/NFUnitTestTypes/UnitTestValueArrayTypess.cs
  Tests/NFUnitTestTypes/UnitTestValueDefultConstTests.cs
  Tests/NFUnitTestTypes/UnitTestValueFloatTests.cs
  Tests/NFUnitTestTypes/UnitTestValueIntegralTests.cs
  Tests/NFUnitTestTypes/UnitTestValueSimpleTests.cs
Labels: Type: Unit Tests

#144 Fix null parms in String.Format
  Tests/NFUnitTestSystemLib/UnitTestStringTests.cs
  nanoFramework.CoreLibrary/System/String.cs
Labels: Type: Unit Tests, Type: bug

#147 Add nanoFramework.TestFramework to Friends
  nanoFramework.CoreLibrary/Friends.cs
Labels: Area: Config-and-Build

#148 Add Contains, StartsWith, EndsWith to String
  Tests/NFUnitTestSystemLib/UnitTestStringTests.cs
  nanoFramework.CoreLibrary/System/AssemblyInfo.cs
  nanoFramework.CoreLibrary/System/String.cs
Labels: Type: Unit Tests, Type: enhancement

#151 Fix NFUnitTestArray Unit Test project
  Tests/NFUnitTestArray/NFUnitTestArray.nfproj
Labels: Type: Unit Tests

#152 Add new Unit Test
  Tests/NFUnitTestArithmetic/UnitTestFormat.cs
Labels: Type: Unit Tests

#153 Change CoreLibrary debug type from portable to full
  nanoFramework.CoreLibrary.NoReflection/CoreLibrary.NoReflection.nfproj
  nanoFramework.CoreLibrary/CoreLibrary.nfproj
Labels: Area: Config-and-Build
