Repository nanoframework/CoreLibrary, pull requests merged in 2022-01, with the labels that each got.

#167 Fix DateTime test
  Tests/NFUnitTestSystemLib/UnitTestDateTime.cs
Labels: Type: Unit Tests

#170 Fix Parse Unit Tests
  Tests/NFUnitTestSystemLib/UnitTestParseTests.cs
Labels: Type: Unit Tests

#171 Fix Unit Tests for Parse
  Tests/NFUnitTestSystemLib/UnitTestParseTests.cs
Labels: Type: Unit Tests

#169 Add DateTime.Parse, TryParse and Convert.ToDateTime
  Tests/NFUnitTestSystemLib/UnitTestDateTime.cs
  nanoFramework.CoreLibrary/System/Convert.cs
  nanoFramework.CoreLibrary/System/DateTime.cs
  nanoFramework.CoreLibrary/System/Double.cs
Labels: Type: enhancement, Type: Unit Tests

#172 Fix float tryparse and add float parse tests
  Tests/NFUnitTestSystemLib/UnitTestParseTests.cs
  nanoFramework.CoreLibrary/System/Single.cs
Labels: Type: bug, Type: Unit Tests

#173 Improvements in Reflection
  Tests/NFUnitTestClasses/UnitTestConstructorTest.cs
  nanoFramework.CoreLibrary/CoreLibrary.nfproj
  nanoFramework.CoreLibrary/System/AssemblyInfo.cs
  nanoFramework.CoreLibrary/System/Reflection/MethodBase.cs
  nanoFramework.CoreLibrary/System/Reflection/ParameterInfo.cs
  nanoFramework.CoreLibrary/System/Reflection/RuntimeConstructorInfo.cs
  nanoFramework.CoreLibrary/System/Reflection/RuntimeMethodInfo.cs
  nanoFramework.CoreLibrary/System/Type.cs
Labels: Type: enhancement, Type: Unit Tests
