Repository nanoframework/CoreLibrary, pull requests merged in 2023-11, with the labels that each got.

#207 Adding nanoFramework.Graphics and nanoFramework.Graphics.Core to friends
  nanoFramework.CoreLibrary/Friends.cs
Labels: Area: Config-and-Build

#209 Add Unit Tests for GC and strings
  Tests/NFUnitTestGC/NFUnitTestGC.nfproj
  Tests/NFUnitTestGC/TestGCWithStringArrays.cs
Labels: Type: Unit Tests

#208 Switching MathInternal.Min/Max to managed implementations
  nanoFramework.CoreLibrary/System/AssemblyInfo.cs
  nanoFramework.CoreLibrary/System/Math.cs
Labels: Type: enhancement

#210 Fix GC Unit Tests project
  Tests/NFUnitTestGC/NFUnitTestGC.nfproj
  Tests/NFUnitTestGC/packages.config
Labels: Area: Config-and-Build

#211 Adding some unit tests for `string`
  Tests/NFUnitTestSystemLib/UnitTestStringTests.cs
Labels: Type: Unit Tests
